<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="https://use.typekit.net/oyd2cya.css">
    <link href="../styles/stylesheet.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/155a0126f4.js" crossorigin="anonymous"></script>
</head>
<body>
    <figure><img src="../images/meet-the-weems-header.svg"></figure>
    <nav id="nav">
        <ul>
            <li class="navigation-link"><a href="index.html">Home</a></li>
            <li class="navigation-link current"><a style="color: #e7e3d8" href="about.html">Meet the Weems</a></li>
            <li class="navigation-link"><a href="connect.html"> Connect with the Weems</a></li>
            <li class="navigation-link"><a href="gallery.html"> Gallery</a></li>
        </ul>
    </nav>
    <div id="content">
        <div class="img-container">
            <figure><img src="../images/familycolosseum.jpg" alt="family-colosseum" class="align-center medium"></figure>
        </div>
        <ul>
            <li class="article family1" id="kyle"><h3>Kyle Weems</h3>
                <p>Kyle plays professional basketball in Europe and is the primary reason our family has been able to
                take the world by storm. Kyle loves to be around his family, binge watch tv shows and watch sports.
                    To learn more about Kyle and his basketball career you can visit his
                    <a style="text-decoration:underline" href="https://en.wikipedia.org/wiki/Kyle_Weems">wikipedia</a> page.</p>
                <p class="travel-must-have center">His travel must have is
                    <strong class="travel-must-have font">Spare pair of Shoes</strong></p>
            </li>
            <li class="article family2" id="jacque"><h3>Jacque Weems</h3>
                <p>Jacque is the "conductor" of the family,she keeps everything in order and makes a life split between
                two countries possible. She's a hobbyist photographer, who loves amateur chef style cooking, shopping,
                    organizing and advanced technology.</p>
                <p class="travel-must-have center">Her travel must have is
                <strong class="travel-must-have font">Sony A7RIII</strong></p>
            </li>
            <li class="article family1" id="kyrie"><h3>Kyrie Weems</h3>
                <p>Kyrie was born in France and can hold a low level conversation in Italian. He is a train and
                    airplane enthusiast. Lover of sharks and ironically wants to be a professional basketball player
                    when he gets older. </p>
                <p class="travel-must-have center">His travel must have is
                    <strong class="travel-must-have font">iPad</strong></p>
            </li>
            <li class="article family" id="cj"><h3>Christian Weems</h3>
                <p>Cj is the youngest member of our family. Born in Turkey, he has also been thrown into traveling from
                day one. He loves everything his brother loves and has the biggest smile in the room.</p>
                <p class="travel-must-have center">His travel must have is
                    <strong class="travel-must-have font">Fruit Snacks and a Lovey</strong></p>
            </li>
        </ul>
        </div>
    </div>
    <div id="footer">
        <p class="footer-link" id="copy-right">&copy;Copyright 2030</p>
        <p class="footer-link" id="contact-us"><a target="_blank" href="connect.html">contact us</a></p>
        <a target="_blank" href="https://www.instagram.com/theworldwideweems/">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</body>
</html>