<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>connect</title>
    <link rel="stylesheet" href="https://use.typekit.net/oyd2cya.css">
    <link href="../styles/stylesheet.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/155a0126f4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="header">
        <figure><img src="../images/connect-with-the-weems-header.svg" alt="connect-with-the-weems-page-header"></figure>
    <nav id="nav">
        <ul>
            <li class="navigation-link"><a href="index.html">Home</a></li>
            <li class="navigation-link"><a href="about.html">Meet the Weems</a></li>
            <li class="navigation-link current"><a style="color: #e7e3d8" href="connect.html"> Connect with the Weems</a></li>
            <li class="navigation-link"><a href="gallery.html"> Gallery</a></li>
        </ul>
    </nav>
    </div>
    <div class="family-cartoon-container">
        <figure><img class="family-cartoon" src="../images/family-small.svg" alt="family-cartoon-picture"></figure>
    </div>
        <h4 id="travel-tips">Subscribe to our Newsletter and instantly receive a free downloadable copy of our
            top family travel tips and tricks.</h4>
    <form id="subscribe" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
        <p>Name:<input type="text" name="name"></p>
        <p>email:<input type="text" name="email" required/>
        <input id="subscribe-button" type="button" name="subscribe" value="subscribe">
        </p>
        <a id="thank-you" href="thankyou.html"></a>
    </form>
    <div id="footer">
        <p class="footer-link" id="copy-right">&copy;Copyright 2030</p>
        <p class="footer-link" id="contact-us"><a target="_blank" href="connect.html">contact us</a></p>
        <a target="_blank" href="https://www.instagram.com/theworldwideweems/">
            <i class="fab fa-instagram"></i>
        </a>
    </div>

</body>
<script src="../scripts/connect.js"></script>
</html>