*{
        font-family: open-sans, sans-serif;
        color: #665544;
        box-sizing: border-box;
        padding: 5px
}

body{
        width:960px;
        margin-top:auto;
        font-family: open-sans, sans-serif;
        align-content: center;
}

#nav, #footer{
        background-color: #efefef;
        padding:3px 3px;
        position: relative;
        margin-bottom: auto;
        text-align: center;
}
h1{
        font-family: timberline, sans-serif;
        font-size: xxx-large;
        text-align: center;
}
h4{
        text-align: center;
}
.footer-link{
        display: inline;

}
.navigation-link{
        padding: 0.5em;
        border: groove;
        overflow: hidden;
        display: inline;
}

a:link{
        text-decoration: none;
}
a.navigation-link:hover{

}
.navigation-link.current{
        border-width: thick;
        text-decoration-color: #e7e3d8;
        background-color: gray;
}
input.button:hover{
        background-color: gray;
}

li{
        list-style-type: none;

}


.slideshow {
        display: none
}

img {
        vertical-align: middle;
        horiz-align: center;
}
.slideshow-container{
        max-width: 95%;
        position: relative;
        align-content: center;
        padding-bottom: 0;
        padding-top: 15px;
}
.scroll-box-container{
        max-width: 95%;
        position: relative;
        background-color:gray;
        height: 1000px;
        overflow: scroll;
}
.img-container{
        position: relative;
        align-content: center;
        padding-bottom: 0;
        height: 20em;
}
img.align-center{
        display: block;
        margin: 0 auto;
}
img.medium{
        width: 400px
}
form {
        text-align: left;
        margin-left: 325px;
}
h3{
        text-align: center;
        font-size: x-large;
}
.prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
}
.prev{
        left:60px;
}

.next{
        right:0;
        border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
}

.text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
}

.numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 25px;
}

.dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
}

.active, .dot:hover {
        background-color: #717171;
}

.fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
}

@-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
}

@keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
}
@media only screen and (max-width: 300px) {
        .prev, .next, .text {
                font-size: 11px
        }
}

.fa-instagram{
        color: #665544;
        text-align: center;
        font-size: 35px;
}

img.gallery.landscape{
        display: block;
        width:230px;
        height: 195px;
        background-color: #e7e3d8;
        margin-left: -15px;
        padding: 9px;
        text-align: center;
        font-size: small;
}
img.gallery.portrait{
        display: block;
        width: 170px;
        height: 202px;
        background-color: #e7e3d8;
        margin:0;
        padding: 9px;
        text-align: center;
}
img.gallery.box{
        display: block;
        width: 155px;
        height: 202px;
        margin: 0;
        background-color: #e7e3d8;
        padding: 9px;
        text-align: center;
}
.entry{
        width: 250px;
        float: left;
        margin: 13px;
        height: 230px;
}
figcaption{
        font-size: small;
        text-align: center;
}
.travel-must-have{
        text-align: center;
}
.travel-must-have.center{
        font-size: x-large;
        font-weight: bold;


}
.travel-must-have.font{;
        font-size: x-large;
        font-stretch: expanded;
        font-family:timberline, sans-serif
}
.article.family1{
        background-color: #efefef;
}
.family-cartoon-container{
        display: block;
        width: 300px;
        margin-left: 310px;

}
